*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 100%;
  --mark-size: cal(var(--cell-size) * 0.9);
}
body {
  margin: 0;
  justify-content: center;
  display: grid;
}
.table {
  width: 70vh;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: auto;
}

.box {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: darksalmon;
  border: rgb(238, 246, 250) solid 0.5rem;
}

/* section {
  /* justify-content: center;
  align-items: center; 
} */
.select {
  justify-content: center;
}
.score {
  display: flex;
  justify-content: space-around;
}
#box0,
#box1,
#box2 {
  border-top: none;
}
#box6,
#box7,
#box8 {
  border-bottom: none;
}
#box0,
#box3,
#box6 {
  border-left: none;
}
#box2,
#box5,
#box8 {
  border-right: none;
}

.score {
  font-size: 20px;
}
/* button {
  font-size: 40px;
  background-color: rgb(40, 105, 184);
  border-radius: 33%;
  border: turquoise;
  color: whitesmoke;
} */
