*{
    box-sizing: border-box;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}
.table{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

section{
    display: flex;
    width: 33%;
    height: 300px;
    outline: cadetblue solid .5rem;
    justify-content: center;
    align-items: center;
}
.select{
    display: flex;
    justify-content: center;
}
