* {
  box-sizing: border-box;

  font-family: Helvetica, sans-serif;
  background-color: aliceblue;
}
.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
}

section {
  display: flex;
  width: 33%;
  height: 300px;
  border: rgb(40, 105, 184) solid 0.5rem;
  justify-content: center;
  align-items: center;
}
.select {
  display: flex;
  justify-content: center;
}
.score {
  display: flex;
  justify-content: space-around;
}
#box0,
#box1,
#box2 {
  border-top: none;
  font-size: 100px;
}
#box6,
#box7,
#box8 {
  border-bottom: none;
  font-size: 100px;
}
#box0,
#box3,
#box6 {
  border-left: none;
  font-size: 100px;
}
#box2,
#box5,
#box8 {
  border-right: none;
  font-size: 100px;
}
#box4 {
  font-size: 100px;
}
.score {
  font-size: 20px;
}
button {
  font-size: 40px;
  background-color: rgb(40, 105, 184);
  border-radius: 33%;
  border: turquoise;
  color: whitesmoke;
}
